* {
    padding: 0px;
    margin: 0px;
}

@import url("https://fonts.google.com/specimen/Open+Sans?query=Open+Sans");

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    font-size: 16px;
}

#Container {
    background: #F0F5F0;
}

.Mini-menu {
    background-color: #01370c;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

#box-search {
    height: 35px;
}

.Navigation-Bar a {
    color: black;
}

.product {
    gap: 30px;
}

.product p {
    text-decoration: underline;
}

.Box-Cart-item button {
    border: none;
    background: #F0F5F0;
}

.Box-Cart-item {
    background: #F0F5F0;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
    margin: 100px 100px 10px 100px;
}

.box-Quantity {
    width: 70px;
    height: 30px;
}



.title-Item {
    border-bottom: solid 5px #525753;
    padding-bottom: 20px;
}

.Login {
    background: #F0F5F0;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
}

.Billing-Details {
    margin-top: 40px;
    margin-bottom: 40px;
}

.Billing-Details form {
    gap: 16px;
}

.Billing-Details>div {
    background: #F0F5F0;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
    padding: 50px;
}

.Footer {
    background: #436E35;
    color: #FFFFFF;
    padding: 40px 20px 20px 20px;
}

.Footer a {
    color: #FFFFFF;
}

.Footer nav {
    background: #436E35;
}

.Mini-footer img {
    padding: 0px 10px 0px 10px;
}

.Mini-footer {
    background: #01370C;
    padding: 12px;
    color: #FFFFFF;
}

.Place-Order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 271px;
    height: 64px;

    background: #3B823E;
    box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
}

.SubtoTal>div {
    gap: 40px;
}

.TT {
    gap: 50px;
}

#footer .footer-top {
    background: #436e35;
    padding: 60px 0 30px 0;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    font-style: bold;
}

#footer .footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.facebook,
.twitter {
    padding-right: 8px;
}

#footer .footer-bot {
    background: #01370c;
}

#footer .container span {
    font-size: 16px;
    padding: 12px;
}

#footer .container-fluid {
    margin: 0 -10px;
}