* {
  padding: 0px;
  margin: 0px;
}

@import url("https://fonts.google.com/specimen/Open+Sans?query=Open+Sans");
@import url("https://fonts.google.com/specimen/Unna?query=Unna");
@import url("https://fonts.google.com/specimen/Roboto?query=Robo");

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #e5e5e5;
}

.Mini-menu {
  background-color: #01370c;
}
.fontAwesome {
  font-family: Helvetica, "FontAwesome", sans-serif;
}
#box-search {
  height: 35px;
}
.Navigation-Bar a {
  color: black;
}

.main {
  background: url(../img/Hero\ Banner_2.png);
  background-size: cover;
  height: 100%;
  background-position: 50% 50%;
  width: 100%;
}

.text-banner {
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.container-fluid {
  margin: 120px 0px;
}

.row {
  margin: 0 90px;
}

h3 {
  color: #3b823e;
  font-size: 52.5px;
  font-family: "Roboto";
}

.shop_now {
  padding: 8px 50px;
  font-size: 20px;
}
