.Navigation-Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.Nav-Bar {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
}

.Menu-Items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 56px;

    width: 688px;
    height: 56px;
}

.Menu-Items div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    cursor: pointer;
}

.Search-Bar {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    left: 13px;
    top: 11px;
    color: rgba(52, 52, 52, 0.5);
}

.Box-Search {
    width: 203px;
    height: 40px;
    border: 2px solid #343434;
    border-radius: 6px;
    color: black;
}