*{
    margin: 0px;
    padding: 0px;
}


#Container {
    position: relative;
    width: 1440px;
    height: 2299px;

    background: #F0F5F0;
}

.Mini-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #01370C;
    color: #F0EAD2;
}
.Top-Bar-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    gap: 12px;
    width: 1200px;
    height: 40px;
}

.Cart-AccountIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 56px;
    width: 104px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Navigation-Menu{
    border-bottom: solid 1px black;
}