* {
    margin: 0px;
    padding: 0px;
}

@import url("https://fonts.google.com/specimen/Open+Sans?query=Open+Sans");

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    font-size: 16px;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

#Container {
    background: #F0F5F0;
}

.Mini-menu {
    background: #01370C;
}

.Top-Bar-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    gap: 12px;
    width: 1200px;
    height: 40px;
}

.Box-Details {
    padding: 50px 120px 50px 120px;
}

.Product-Details .pb-4 >div{
    padding-bottom: 24px;
}
.Delivery-Info >div{
    padding-bottom: 20px;
}



.BoxPinCode {
    width: 144px;
    height: 36px;
    border: 2px solid #343434;
    border-radius: 4px;
}

.price {
    font-size: 32px;
    color: #343434;
}

.sale {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Quantity button {
    border: none;
}
.btn-Yes:hover{
   background-color: #a7a6a6;
}
.btn-Add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    border: none;
    width: 344px;
    height: 64px;
    background: #3B823E;
    border-radius: 8px;
    color: #F0F5F0;
    font-weight: bold;
}
.btn-check{
    border: none;
    color: #436E35;
}
.btn-check:hover{
    background-color: #F0F5F0;
}
.BGround {
    background-color: #01370C;
    background-image: url(../img/Background.png);
    color: #F0F5F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Description {
    color: #343434;
    background: #F0F5F0;
    border-radius: 16px;
    padding: 24px;
    margin: 0px 100px;
}


.Tab>div {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.Tab div:first-child {
    width: 150px;
    border-bottom: solid 5px cornsilk;
    border-radius: 1px;
}

.Section-Hot-Sale .row h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    background: rgba(52, 52, 52, 0.8);
    bottom: 0;
    left: calc(50% - 100px);
  }
.Description p {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: rgba(52, 52, 52, 0.75);
}

.card{
    border-radius: 5px;
}

.btn-Buy button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 242px;
    height: 64px;

    background: #3B823E;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: #ffff;
    border: none;
}

button:hover {
    background-color: #0b4b0e;
}



#footer .footer-top {
    background: #436e35;
    padding: 60px 0 30px 0;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    font-style: bold;
}

#footer .footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.facebook,
.twitter {
    padding-right: 8px;
}

#footer .footer-bot {
    background: #01370c;
}

#footer .container span {
    font-size: 16px;
    padding: 12px;
}

#footer .container-fluid {
    margin: 0 -10px;
}
